C:\Users\HP\Desktop\projects\C1-Crash-Course-On-Python\Wordcloud\venv
C:\Users\HP\Desktop\projects\C1-Crash-Course-On-Python\Wordcloud\workspace.code-workspace
C:\Users\HP\Desktop\projects\C2-Interacting-with-OS-using-python\venv